@charset "utf-8";
/* CSS Document */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
    bottom: 0;
    width: 100%;
}

li {
    float:left;
	align-items: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


/* Buttons styling*/

.active {
	background-color: #A0A0A0;
}


a {
	text-transform: uppercase;
    font: 20px; 
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    letter-spacing: 5px;
	

}

