@charset "utf-8";
/* CSS Document */



@media only screen and (max-device-width: 900px) {
    .img1 {
        background-attachment: scroll;
    }
}

/*mobile media query*/
@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}  

body {
    margin: 0;
    color: #CDDBDB;
    font: 400 15px/1.8 Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; 
}


.bgimg-1 {
    position: relative;
    opacity: 0.75;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

.bgimg-1 {
    min-height: 700px;
    background-image: url("../images/digital-portrait.jpg");
	background-color:#39443d;
}




#top {
    color: #000000;
    font-size: 300%;
    letter-spacing: 7px;
	text-align: left;
	position: fixed;
  	left: 0;
  	top: 95%;
  	width: 8em;
  	margin-top: -2.5em;

}

.hero {
    padding: 40px 70px;
	padding-bottom: 100px;
    color: #000;
    background-color: #C8CFA9;
   
   
}

p{
	text-indent: 3em;
}

.caption {
	position: absolute;
	top: 430px;
	left: 39px;
	width: 100%;
	color: #000;
	
	
}

.description-container {
    position: relative;
}

.description {
    padding: 50px 80px;
    color: #000;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    background-color: #C8CFA9;
    text-align: center;
    text-align: justify;
    text-indent: 50px;
}




h2 {
    color: #111;
    text-transform: uppercase;
    font: 20px; 
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    letter-spacing: 5px;
}
