@charset "utf-8";
/* CSS Document */


/*media query for mobile*/
@media screen and (max-width : 342px ){
    ul.topnav li.right, 
    ul.topnav li, #top {float: none;}
}
@media screen and (max-width : 501px ){
    ul.topnav li.right, 
    ul.topnav li  {float: none;}
}


#top {
    color: #000000;
    font-size: 300%;
    letter-spacing: 7px;
	text-align: left;
	position: fixed;
  	left: 0;
  	top: 95%;
  	width: 8em;
  	margin-top: -2.5em;
  	

	
}
body {
    margin: 0;
    color: #CDDBDB;
    font: 400 15px/1.8 Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}


.bgimg-1 {
    position: relative;
    opacity: 0.75;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bgimg-1 {
    min-height: 600px;
    background-image: url("../images/nemisis-detail.jpg");
	
}






.hero {
    padding: 40px 70px;
    color: #000;
    background-color: #C8CFA9;
   
   
}

.caption {
	position: relative;
	top: 457px;
	left: 39px;
	width: 100%;
	color: #000;
	
	
}

.description-container {
    position: relative;
}

.description {
    padding: 50px 80px;
    color: #000;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    background-color: #C8CFA9;
    text-align: center;
    text-align: justify;
    text-indent: 50px;
}





